body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Each page has margin for header. */
.page {
    margin: 0;
    display: flex;
    min-height: 1000px;
}

/* 
    Default values for entire app (it could be placed in body but prefer 
    to make global wrapper so it's easier to change it on another one) 
*/
.globalWrapper {
    color: var(--defaultFontColor);
    background-color: var(--backcolor_back);
}
