.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
	z-index: 10;
	top: 0;
	right: 0;
    left: 0;
    padding: 0 5%;
    height: 5vh;
    max-height: 50px;

    background-color: var(--backcolor_front);
}